// keep the env example file always updated.

PORT = 7001

#REDIS_HOST
REDIS_URL=redis://localhost:6379


# MongoDB
MONGO_URI=mongodb://localhost:27017/manali_tcp

# booking number
MAX_BOOKING_COUNT_PER_LOCATION=